out: ...\Users\User\github\NoxVulpesSite\styles.css, sourcemap: true, compress: true

@background-color: #ffffff;
@text-color: #1A237E;

.head-One{
  background-color: @background-color;
  color: @text-color;
  padding: 15px;
}

ul{
  background-color: @background-color;
}

li{
  color: @text-color;
}
